@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }
  /* Custom class to hide scrollbar in the wesite
   */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge browsers */
    scrollbar-width: none;  /* zzzFirefox browsers */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-gradient-loader {
  animation: animate-gradient-loader 5s linear infinite;
  background-size: 200% 200%;
}

@keyframes animate-gradient-loader {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
